<div class="container">
    <div class="row">
        <div class="col-2">
          Year
          <select #Select [(ngModel)]="yearSelected" (change)="changedYear($event)"  class="form-control" name="ddldepartment">
            <option  *ngFor="let y of Years" [value]="y.year">{{ y.year }}</option>
           </select> 
        </div>
        <div class="col-2">
          School
          <select #Select [(ngModel)]="schoolSelected" (change)="changedSchool($event)"  class="form-control" name="ddldepartment">
            <option  *ngFor="let school of schoolFilteredList" [value]="school.schoolID">{{ school.schoolName }}</option>
          </select> 
        </div>
        <div class="col-2">
          Grade
          <select #Select [(ngModel)]="gradeSelected" (change)="changedGrade($event)"  class="form-control" name="ddldepartment">
            <option  *ngFor="let grade of gradeFilteredList" [value]="grade.grade">{{ grade.grade }}</option>
          </select> 
        </div>
        <div class="col-2">
          Student
          <select #Select   class="form-control" name="ddldepartment">
            <option  *ngFor="let student of studentFilteredList" [value]="student.studentID">{{ student.studentName }}</option>
          </select> 
        </div>
    </div>
  
  </div>
  
  
   
   
  
   
  
   
  
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">StudentName</th>
          <th scope="col">GTID</th>
          <th scope="col">SchoolName</th>
          <th scope="col">Status</th>
          <th scope="col">EligibilityDate</th>
          <th scope="col">Action</th>
          <th scope="col">Eligible</th>
          <th scope="col">Non-Eligible</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studentSearch of StudentSearch">
          <td>{{studentSearch.studentName}}</td>
          <td>{{studentSearch.GTID}}</td>
          <td>{{studentSearch.schoolName}}</td>
          <td>{{studentSearch.status}}</td>
          <td>{{studentSearch.eligibilityDate}}</td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (click)="ViewEligibility(studentSearch.GTID, studentSearch.studentName)" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  (click)="EditEligibility(studentSearch.GTID, studentSearch.studentName)" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  (click)="DeleteEligibility(studentSearch.GTID, studentSearch.studentName)" class="bi bi-x-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
          </svg>&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (click)="AddEligibility(studentSearch.GTID, studentSearch.studentName)" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          &nbsp;
           </td>
          <td>{{studentSearch.Eligible}}</td>
          <td>{{studentSearch.Eligible}}</td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
  </div>

  <div class="modal" id="myModal" style="color:black;" [style.display]="showQuestionsModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color:rgb(199, 217, 233); height: 35px; font-size:smaller;">
          <h4 class="modal-title" style="font-size:larger; color:sienna">Eligibility Details</h4>
         <!-- <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button> -->
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <app-eligibility-details [GTID]="selectedGTID" [StudentName]="selectedStudentName" (childEvent)="hideModel()" *ngIf="ActivateSurveyQuestionsComp"></app-eligibility-details> 
          
        </div>
        
        <!-- Modal footer -->
       <!-- <div class="modal-footer" style="background-color:rgb(199, 217, 233)">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  